{% extends "index.html" %}
{% load static %}
{% block title %} IW | Executive Team {% endblock title %}

{% block css %}
<style>
    .head{
        font-weight:bold;
    }
</style>
{% endblock css %}

{% block body %}
<!-- JUMBOTRON FOR EXECTUIVE TEAM  -->
<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="head">Executive Team</h1>
          <h4 class="text text-muted">Intellect Wealth Leadership Team </h4>
        </div>
      </div>
</div>
<!-- PROFILES OF EXECUTIVE TEAM  -->
<div class="container mt-60">
    
    <div class="container  mt-3 mb-3">
        <img style="border-radius: 30px;" width="295px;" height="295px;" src="/media/{{member.image}}" alt="">
        <h2 class="mt-3 head">{{member.name}}</h2>
        <h4 class="text-muted mt-3">{{member.designation}}</h4>
        <p class="mt-4">{{member.team_desc|safe}} </p>
    </div>
   
</div>

{% endblock body %}

{% block script %} 
{% endblock script %}