{% extends "index.html" %}
{% load static %}
{% block title %} IW | Intellect Wealth Advise & Research {% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<div class="container mt-6">
    <h4>{{advise.ba_title}}</h4>
    <h5 class="text-muted">{{advise.shortDesc|safe}}</h5>
    <p class="text-muted mt-4">
        {{advise.description|safe}}
    </p>
    <p class="text-muted mt-30">If you are looking to join a community of like-minded experts, we want to hear from you. <a href="/contact">Contact us.</a></p>
</div>
  
{% endblock body %}

{% block script %} 
{% endblock script %}